<!DOCTYPE html>
<html lang="vi">
  <head>
    <link rel="stylesheet" href="/css/Header.css" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="header-container">
        <a href="#" class="logo">
          <i class="fas fa-rocket"></i>
          <span class="logo-text">MyWebsite</span>
        </a>

        <div class="menu-toggle" onclick="toggleMenu()">
          <i class="fas fa-bars"></i>
        </div>

        <nav id="mainNav">
          <a href="#">Trang Chủ</a>
          <a href="#">Dịch Vụ</a>
          <a href="#">Về Chúng Tôi</a>
          <a href="#">Liên Hệ</a>
          <a href="#" class="header-btn">Đăng Nhập</a>
        </nav>
      </div>
    </header>
    <!-- <script th:src="@{/js/Register.js}"></script> -->
  </body>
</html>
